# Core functionality - changes here should be rare!
/src/app.py                   @RafaelTakata0105
/src/backend/database.py      @RafaelTakata0105
/src/backend/routers/auth.py  @RafaelTakata0105

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RafaelTakata0105
